<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <title>About</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lustria&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
    rel="stylesheet">

</head>

<body>
  <header>
    <h1>Devin's Website</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </nav>
  <main>
    <div class="text-wrapper">
      <h2>About</h2>
      <p>This is the about page. It contains some information.</p>
    </div>
    <div class="card-grid">
      <div class="card">
        <h2>Who</h2>
        <p>Devin's student project</p>
      </div>
      <div class="card">
        <h2>What</h2>
        <p>A responsive website built with HTML and CSS for CODE</p>
      </div>
    </div>
  </main>
  <footer>
    <p>Devin Koch</p>
  </footer>
</body>

</html>