<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Contact</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>Devin's Website</h1>
  </header>
  <nav>
    <a href="index.html">Home</a>
    <a href="about.html">About</a>
    <a href="contact.html">Contact</a>
  </nav>
  <main>
    <div class="text-wrapper">
    <h2>Contact</h2>
    <p>Get in touch using the form below.</p>
    </div>
    <form>
      <label for="name">Name</label>
      <input type="text" id="name" name="name">
      <label for="email">Email</label>
      <input type="email" id="email" name="email">
      <label for="message">Message</label>
      <textarea id="message" name="message"></textarea>
      <button type="submit">Send</button>
    </form>
  </main>
  <footer>
    <p>Devin Koch</p>
  </footer>
</body>
</html>
