<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title: 'Home' }) %>

<body>
  <main>
    <div class="home-wrapper">
      <img class="postcard-model" id="postcard-model-left" src="assets/postcard_model.jpg" alt="Postcard">
      <div class="home-content-wrapper">
        <div class="text-wrapper">
          <p>Devin Koch</p>
          <h1 class="home-title">Create your<br>digital postcard </h1>
          <p>A CODE Project</p>
        </div>
        <div class="button-wrapper">
          <button class="button primary" onclick="window.location.href='/create_postcard'">Create a postcard</button>
          <button class="button secondary" onclick="window.location.href='/view_postcard'">Open a postcard</button>
        </div>
      </div>
      <img class="postcard-model" src="assets/postcard_model_right.jpg" alt="Postcard">
    </div>
  </main>
  <%- include('partials/footer') %>
</body>

</html>