<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lustria&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
    rel="stylesheet">
</head>

<body>
  <main>
    <div class="home-wrapper">
      <img class="postcard-model" id="postcard-model-left" src="assets/postcard_model.jpg" alt="Postcard">
      <div class="home-content-wrapper">
        <div class="text-wrapper">
          <p>Devin Koch</p>
          <h1 class="home-title">Create your<br>digital postcard </h1>
          <p>A CODE Project</p>
        </div>
        <div class="button-wrapper">
          <button class="button primary" onclick="window.location.href='/create_postcard'">Create a postcard</button>
          <button class="button secondary">Open a postcard</button>
        </div>
      </div>
      <img class="postcard-model" src="assets/postcard_model_right.jpg" alt="Postcard">
    </div>
  </main>
  <footer>
    <nav>
      <a href="index.html">Home</a>
      <a href="about.html">About</a>
      <a href="contact.html">Contact</a>
    </nav>
    <p>© Devin Koch</p>
  </footer>
</body>

</html>